@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Ida Nilsson<br />
    Bondegatan 2 <br />
    595 52 Mjölby <br />
    <a href="mailto:idanilsson@webshob.com">idanilsson@webshob.com</a><br />
    <abbr title="Phone">P:</abbr>
    0733 82 34 93 <br />
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAB-AAAAJDdmM2ZjZWRiLWRkYmQtNDUwMi04YjQzLTZjMTNmMjM0NzcxYw.jpg" height="75" alt"ProfileImage" />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@webshob.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@webshob.com">Marketing@example.com</a>
</address>
